In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

## Reading Data

In [ ]:
df = pd.read_csv('data.csv')

In [ ]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.299725         1   67          1           0              1
1  100.614644         0   28          0           0              0
2  100.885165         0   45          1           0              0
3   98.181661         0   69          0           0              1
4  100.056147         1  100          1           1              1

In [ ]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2526   98.300756         1   89          0           1              0
2527  101.005692         1   46          1           1              1
2528   99.947791         0    4          0           1              1
2529  101.182738         0   76          1           1              0
2530   99.184559         0   36          0           0              1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2531 entries, 0 to 2530
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2531 non-null   float64
 1   bodyPain       2531 non-null   int64
 2   age            2531 non-null   int64
 3   runnyNose      2531 non-null   int64
 4   diffBreath     2531 non-null   int64
 5   infectionProb  2531 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 118.8 KB

In [ ]:
df['diffBreath'].value_counts()

0    1272
1    1259
Name: diffBreath, dtype: int64

In [ ]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000,2531.000000
mean,100.005960,0.504939,50.734887,0.503358,0.497432,0.489530
std,1.164526,0.500074,29.201597,0.500088,0.500092,0.499989
min,98.004172,0.000000,0.000000,0.000000,0.000000,0.000000
25%,99.000092,0.000000,25.000000,0.000000,0.000000,0.000000
50%,99.997683,1.000000,52.000000,1.000000,0.000000,0.000000
75%,101.023828,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999925,1.000000,100.000000,1.000000,1.000000,1.000000

## train Test Splitting

In [ ]:
import numpy as np

In [ ]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices =shuffled[:test_set_size]
    train_indices =shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [ ]:
np.random.permutation(7)

array([6, 4, 0, 3, 2, 5, 1])

In [ ]:
train,test =  data_split(df, 0.2)

In [ ]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1991   99.873539         1   84          0           1              0
157   100.263923         1   19          1           1              1
1790   99.597310         1   57          1           0              0
790   101.243871         0   73          0           0              1
2076  100.077729         1   50          1           1              1
...          ...       ...  ...        ...         ...            ...
1638   98.730693         1   85          0           0              1
1095  100.286829         1    4          1           0              0
1130  100.900358         1   40          1           1              1
1294   99.519231         1    2          1           1              1
860    98.488522         1   94          1           0              0

[2025 rows x 6 columns]

In [ ]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2308   99.957969         1   16          0           1              1
2307   99.439724         1   86          1           0              0
194    98.971434         1   86          1           1              0
1882   99.363691         1   11          1           0              1
764   100.673751         1   13          0           1              1
...          ...       ...  ...        ...         ...            ...
2230   98.812234         0   37          1           0              0
1975   99.387735         1    0          0           0              0
76     98.607607         1   45          0           0              1
432   101.661473         1   45          1           1              0
1048  100.317073         0   12          0           0              1

[506 rows x 6 columns]

In [ ]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath' ]].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath' ]].to_numpy()

In [ ]:
Y_train = train[['infectionProb' ]].to_numpy().reshape(2025,)
Y_test = test[['infectionProb' ]].to_numpy().reshape(506,)

In [ ]:
Y_train

array([0, 1, 0, ..., 1, 1, 0], dtype=int64)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
inputFeatures =[102,1,22,0,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [ ]:
infProb

0.47794805680367874